@model Category
@{
    ViewData["Title"] = "Add";
}

<Center><h2>Add New Book Here..</h2></Center>
<form method="POST">
    <div class="form-group m-4">
        <label asp-for="BookName">Enter Book name: </label>
        <input class="form-control" type="text" asp-for="BookName" placeholder="New Book Name" />
    </div>
    <div class="form-check m-4">
        <label asp-for="Available">Enter Book Status: </label>
        <input class="form-check-input" type="checkbox" asp-for="Available" />
    </div>
    
    <button type="submit" class="btn btn-primary m-4">Add The book</button>

    <a class="btn btn-warning" asp-action="Index" asp-controller="Category">Dashboard</a>
</form>

