
@{
    ViewData["Title"] = "Index";
}
@model IEnumerable<Category>

<center><h2>Welcome to the Library Managing Application Dashboard!</h2></center>
<br />
<br />
<center>
    <table class="table table-striped">
    <tr>
            <th scope="col">
                Index
            </th>
            <th scope="col">
                ID
            </th>
            <th scope="col">
                Book Name
            </th>
            <th scope="col">
                Availability
            </th>
            <th scope="col">
                Last updated
            </th>
            @if (User.IsInRole("Member"))
            {
                <th scope="col">
                    Issue a Book
                </th>
            }
            @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
            {
                <th scope="col">
                    Edit Book Info
                </th>
                <th scope="col">
                    Delete Book
                </th>
            }
    </tr>
        @{
            int indx = 1;
            DateTime currentDateTime = DateTime.Now;
        }
        @foreach (var books in Model)
        {
            <tr>
                <th scope="row">@indx</th>
                    <td>
                        @books.Id
                    <td>
                        @books.BookName
                    </td>
                    <td>
                        @if(books.Available == "true"){
                                <span>Yes</span>
                        }
                        else{
                                <span>No</span>
                        }
                    </td>
                    <td>
                        @{
                            TimeSpan timeDiff = currentDateTime - books.DateTime;
                        }
                        @timeDiff.Days
                        Days Ago
                    </td>
                    @if (User.IsInRole("Member"))
                    {
                        <td>
                            <a class="btn btn-primary" asp-controller="Category" asp-action="edit" asp-route-id=@books.Id> Issue </a>
                        </td>    
                    }
                    @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                    {
                        <td>
                            <a class="btn btn-primary" asp-controller="Category" asp-action="edit" asp-route-id=@books.Id> Edit </a>
                        </td>
                        <td>
                            <a class="btn btn-danger" asp-controller="Category" asp-action="delete" asp-route-id=@books.Id> Delete </a>
                        </td>
                    }
            </tr>
            indx++;
        }

</table>
    @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
    {
        <a class="btn btn-success" asp-controller="Category" asp-action="Add">Add New Book!</a>
    }
</center>